<!DOCTYPE html>
<html lang='eng'>
<head>
	{{>head}}
	<title>Express Tutorial</title>
</head>

<body>
	{{>bsnavbar}}
	<div class="container">
		{{{body}}}
	</div>

	<script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.js"></script>
</body>
</html>